/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --family-main-text: "Inter-Variable";
  --family-accent-text: "PressStart2P";
  --weight-main-text: 400;
  --weight-title-text: 700;
  --inline-size-all-content: clamp(23.438rem, 16.373rem + 30.141vi, 43.5rem);
  --size-header-logo: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  --size-header-title: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  --gap-page: 100px;
  --padding-header-block: clamp(7.5rem, 3.561rem + 19.512vi, 8rem);
  --padding-header-inline: clamp(0.875rem, -6.723rem + 32.769vi, 7.531rem);
  --bg-color: #fff;
  --bg-color-content: #fff;
  --text-color: #000;
  --card-border: 2px solid #000;
  --size-card-text: 18px;
  --size-text-button: 14px;
  --margin-buttons: 25px;
  --gap-card-list: 50px;
  --size-label-text: 14px;
  --inline-size-dialog: clamp(21.313rem, 21.048rem + 1.127vi, 22.063rem);
  --button-text-color-hover: #fff;
  --button-bg-hover: #000;
  --contour-heart: #000;
  --filling-color: red;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
